<main>
    <section id="section_banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src=".\assets\img\banner_horizon_zero_dawn.jpg" class="d-block w-100"
                        alt="Landscape Horizon Zero Dawn">
                </div>
                <div class="carousel-item">
                    <img src=".\assets\img\banner_rised_city.jpg" class="d-block w-100"
                        alt="Paisagem Custom: Rised City">
                </div>
                <div class="carousel-item">
                    <img src=".\assets\img\banner_the_witcher.jpg" class="d-block w-100"
                        alt="Landscape The Witcher III">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <h2>Jogos em Promoção</h2>
    <mat-grid-list cols="3" rowHeight="650px">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/cover_the_witcher_iii.webp"
                    alt="Capa do jogo: 'The Witcher 3: Wild Hunt'">
                <mat-card-header>
                    <mat-card-title>The Witcher 3: Wild Hunt</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        "The Witcher 3: Wild Hunt" é um jogo de RPG de ação e aventura em mundo aberto, onde os
                        jogadores assumem o papel do protagonista Geralt de Rivia, um caçador de monstros com
                        habilidades sobrenaturais. O jogo apresenta uma narrativa complexa, escolhas morais que afetam o
                        enredo e combates desafiadores, além de gráficos de alta qualidade e uma trilha sonora
                        impressionante.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$70,00</p>
                    <button mat-raised-button color="accent">COMPRAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/cover_diablo_iii.webp" alt="Capa do jogo: 'Diablo 3'">
                <mat-card-header>
                    <mat-card-title>Diablo III</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        "Diablo III" é um jogo de RPG de ação onde os jogadores escolhem uma classe de personagem e
                        lutam contra hordas de demônios em ambientes escuros e sinistros. O jogo apresenta um sistema de
                        progressão de personagens baseado em níveis e equipamentos, bem como um sistema de habilidades
                        que permite aos jogadores personalizar seus personagens de acordo com seu estilo de jogo.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$90,00</p>
                    <button mat-raised-button color="accent">COMPRAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/cover_dark_souls_remaster.jpg"
                    alt="Capa do jogo: 'Dark Souls Remastered'">
                <mat-card-header>
                    <mat-card-title>Dark Souls Remastered</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        "Dark Souls Remastered" é um jogo de RPG de ação lançado em 2018 pela desenvolvedora japonesa
                        FromSoftware. O jogo apresenta um mundo de fantasia sombrio e desafiador, onde os jogadores
                        enfrentam inimigos mortais e chefes épicos em batalhas táticas. O jogo possui um sistema de
                        progressão de personagens complexo e um modo multijogador online para cooperação e invasões PvP.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$130,00</p>
                    <button mat-raised-button color="accent">COMPRAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</main>